* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 2.986rem;
}
h4 {
    font-size: 1.728rem;
}
body {
    display: flex;
    font-size: 16px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

button {
    padding: 0.2rem;
}
button:hover {
    cursor: pointer;
}

/* Conteúdo do body */
#container {   
    height: 800px;
    width: 900px;

    margin: 50px;

    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
header {
    background-color: gray;
    border-bottom: 1px solid black;
    padding: 1rem;
}
main{
    flex-grow: 1;
    display: block;

    padding: 1rem;

    background-color: #A2A6F2;

    overflow: auto;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    margin: 0 3rem;
    padding: 0.5rem;
}
/* Estilizando o footer */

.box-mensagemEnviar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

#inputMensagem
{
    box-sizing: border-box;
    max-height: 92px;
    height: 2rem;
    width: 80%;
    border-radius: 1rem 1rem 0 1rem;
    padding: 0.5rem;
    resize: none;
}

#enviar {
    background-color: #575FF2;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

